.message{"data-message-id": "#{message.id}"}
  .message__top
    .message__top__name
      = message.user.name
    .message__top__date
      = format_posted_time(message.created_at)
  .message__bottom
    - if message.body.present?
      %p.message__bottom__body
        =message.body
    = image_tag message.image.url, class: "message_bottom__image" if message.image.present?
