%side-padding{
  padding-left:20px;
  padding-right:20px;
}

.sidebar{
  float: left;
  width: 300px;
  color: $white;

  .account{
    @include clearfix();
    @extend %side-padding;
    height: 100px;
    background: #253141;
    line-height: 100px;

    &__name{
      float:left;
      font-weight:bold;
    }

    &__options{
      @include clearfix();
      float:right;

      &__list{
        float: left;

        &--cog{
          float: left;
          margin-left: 5px;
        }
      }
    }
  }
}

.groups{
  @extend %side-padding;
  height: calc(100vh - 100px);
  background: #2F3E51;
  padding-top: 20px;
  overflow: scroll;

  /* a{
    text-decoration: none;
    color: $white;
  } */

  .group{
    padding-bottom: 40px;

    &__name{
      font-size: 15px;
    }

    &__latemessage{
      font-size: 11px;
    }
  }
}
